  div{
    display: block;
} 
*, ::after , ::before{
  box-sizing: border-box;
}  
img{
  vertical-align: middle;
}
p{
  display: block;
}

    section{
      overflow: hidden;
    } 
   .header #mobile{
       color: #124265;
       font-size: 28px;
       cursor: pointer;
       line-height: 0;
       transition: 0.5s;
   }
   
   #hero h1{
       color: #124265;
       line-height: 36px;
   }
   
   #hero h2{
        color:#5e5e5e;
        margin:10px 0 0 0;
    
  }
  #hero .btn{
      background: #2487ce;
      color: #fff;
      letter-spacing: 0.5px;
      font-size: 14px;
      font-weight: 500;
    }
  
  
  #hero .container{
      padding-top: 120px;
  }

  #hero .icon-boxes{
      margin-top:100px ;
  }

  #hero .icon-box{
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow:0 0 29px 0 rgba(18 66 101 / 8%);
    transition:all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }

  #hero .icon-box .icon{
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color:#2487ce;
  }

  #hero .icon-box .title{
      font-weight:700 ;
      margin-bottom: 25px;
      font-size: 18px;
  }

  #hero .icon-box .description{
    font-size:15px;
    line-height:28px;
    margin-bottom:0;
  }

  p{
    margin-top:0;
  }

  h1{
    display:block;
  }

  h2{
   display:block;
  }

  #header .logo a{
    color: #16507b;
  }


  #header .logo{
      line-height: 1;
      font-weight: 300;
      letter-spacing: 0.5px;
  }
  
  a{
      text-decoration: none;
  }

   /* About Section */
 
   .section-title{
     margin-top: 200px;
     
   }
   .section-title h1{
    color: #124265;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 0;
   }

   .section-title p{
     color: #919191;
     font-size: 18px;
     margin-bottom: 40px;
     margin-top: 0;
    }

    .about .content ul{
      padding:0;
    }
    .about .content ul li{
      padding-left: 28px;
      position: relative;
    }

    .about .content ul i {
      color: #2487ce;
      left: 0;
      top:2px;
      line-height: 1;
      font-size: 20px;
      position: absolute;
    }
    
    .about .content .btn{
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1;
      display: inline-block;
      transition: 0.3s;
      color: #2487ce;
      border-color:#2487ce ;
      
    }

    /* counts section */
    /* .counts{
      padding: 60px 0;
    } */

     .section-bg{
      background-color: #f8fbfe;
      color: #444444;
      padding: 60px 0;
    }

    /* .row {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(-1 * var(--bs-gutter-y));
      margin-right: calc(-.5 * var(--bs-gutter-x));
      margin-left: calc(-.5 * var(--bs-gutter-x));
    } */
   
    .counts .count-box{
      width: 100%;
      text-align: center;
    }
    .counts .count-box span{
      font-size: 48px;
      line-height: 48px;
      display: block;
      font-weight: 700;
      color: #124265;
      margin: auto;
    }

    .counts .count-box p{
      padding: 8px 0 0 0;
      font-weight: 600;
      font-size: 14px;
      color: #1e6ca6;
    }

    /* About-Video Section */
    
    .img-fluid{
      max-width: 100%;

    }
    img{
      vertical-align: middle;
    }

    .about-video .content{
      font-size: 15px;
    }

    .about-video .content h1{
      color: #124265;
      font-weight: 700;
      font-size: 26px;
    }

    .about-video .content ul li{
      position: relative;
      padding-bottom: 10px;
      padding-left: 28px;
    }

    .about-video .content ul i{
      color: #2487ce;
      font-size: 20px;
      position: absolute;
      left: 0;
      top: -2px;
    }

    /* Clients Section */

    .clients{
      padding: 15px 0;
      text-align: center;
    }

    .section-bg{
      color: #f8fbfe;
    }

    .clients img{
      transition: all 0.4s ease-in-out;
      display: inline-block;
      padding: 15px 0;
      /* filter: grayscale(100); */
      max-width: 45%;
    }

    .img-fluid{
      height: auto;
    }

    /* Testimonials Section */

    
    .section-title h2{
      color: #124265;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 0;
     }

     /* Services Section */
     .services .icon-box{
       text-align: center;
       padding: 70px 20px 80px 20px;
       transition: all ease-in-out 0.3s;
       background: #fff;
       box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 5%);
     }

     .services .icon-box .icon{
       margin: 0 auto;
       width: 100px;
       height: 100px;
       display: flex;
       align-items: center;
       justify-content: center;
       transition: ease-in-out 0.3s;
       position: relative;
     }

     .services .icon-box .icon svg{
       position: absolute;
       top: 0;
       left: 0s;
     }

     svg{
       vertical-align: middle;
     }
     
     .services .icon-box .icon i{
       font-size: 36px;
       transition: 0.5s;
       position: relative;
     }

     .services .iconbox-blue i{
      color: #47aeff;
     }

     .bi{
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      line-height: 1;
      text-rendering: auto;
      display: inline-block;
      text-transform:none;
      speak-as : none;
      -webkit-font-smooting:antialiased;
     }
    
     .bi-dribble::before{
       content: "\e920";

     }

     .services .icon-box h4{
       font-weight: 600;
       margin: 10px 0 15px 0;
       font-size: 22px;
     }
  
     .services .icon-box h4 a{
       color: #124265;
       transition: ease-in-out 0.3s;
       text-decoration: none;
     }
     .services .icon-box p{
       line-height: 24px;
       font-size: 14px;
       margin-bottom: 0;
     }

     /* CTA Section */
     .cta{
       background: #2487ce;
       background-size: cover;
       padding: 60px 0;
     }

     .cta h4{
       color: #fff;
       font-size: 28px;
       font-weight: 700;
     }

     .cta p{
       color: #fff;
     }
    
     .cta .cta-btn{
       font-weight: 600;
       font-size: 14px;
       letter-spacing: 1px;
       display: inline-block;
       padding: 10px 35px;
       transition: 0.5s;
       border: 2px solid #fff;
     }